{% extends 'accounts/login_base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<h2 class="text-center mb-4">Восстановление пароля</h2>
<form method="post">
    {% csrf_token %}
    
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    
    {% if message %}
    <div class="alert alert-success">{{ message }}</div>
    {% endif %}
    
    <div class="form-group">
        <label for="email" class="form-label">Ваш email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="example@gmail.com" required>
    </div>
    
    <button type="submit" class="btn btn-primary w-100 mb-3">Отправить новый пароль</button>
    
    <div class="text-center mt-3">
        <a href="{% url 'login' %}" class="text-decoration-none">Вернуться к входу</a>
    </div>
</form>
{% endblock %}